body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:1.42857143;
	color:#333;
	background-color: #d8d8d875;
}

table{
	border-spacing:0;
	border-collapse:collapse
}

.giohang {
	width: 1240px;
	padding-right:15px;
	padding-left:15px;
	margin:auto;
	margin-top: 120px;
}

h2.ghtitle {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}

th {
	text-align:left
}

img.ghanh {
	width: 140px;
	height: 135px;
}

.flanh1 ,.ghsanpham {
	float: left;
}

.ghsanpham {
    margin-left: 20px;
    width: 360px;
    height: 140px;
}

.ghsoluong {
	text-align: center;
}

.ghthanhtien {
	text-align: center;
}

.table>tbody>tr>td,.table>tfoot>tr>td {
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top:1px solid #ddd
}

.form-control{
	display:block;
	width:100%;
	height:34px;
	padding:0 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
}

	
.btn{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	border:1px solid transparent;
	border-radius:4px;
	cursor: pointer;
}

.btn-success {
	color:#fff;
	background-color:#5cb85c;
	border-color:#4cae4c
}

.btn-success:hover {
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-info {
	color:#fff;
	background-color:#5bc0de;
	border-color:#46b8da
}



.btn-warning{
	color:#fff;
	background-color:#f0ad4e;
	border-color:#eea236
}

.btn-warning:hover{
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512
}

.btn-danger{
	color:#fff;
	background-color:#d9534f;
	border-color:#d43f3a
}

.btn-sm { 
	padding:5px 10px;
	font-size:12px;
	line-height:1.5;
	border-radius:3px
}

.visible-xs{ 
	display:none!important
}



tr:hover {
	background-color: #f5f5f5;
}


a.nutbt {
	color: white;
	text-decoration:none;
}

tr.nohover {
	background-color: transparent;
}

.ghsp {
	font-size: 22px;
	margin: 0px;
}

.mtsp {
	font-size: 14px;
}

.nomargin {
	margin-left: 200px;
	width: 258px;
}