
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<div class="content">
    <div class="section group">
        <div class="alert alert-success">
            Bạn vừa mua hàng thành công.
        </div>
    </div>
</div>